<div class = "row">
    <div class="col-md-2">
        <div class = "form-group">
            <%= f.text_field :cantidad, placeholder: "Cantidad", class: "form-control" %>
        </div>
    </div>
    <div class="col-md-2">
        <div class = "form-group">
            <%= f.text_field :unidad, placeholder: "Unidad", class: "form-control" %>
        </div>
    </div>
    <div class="col-md-2">
        <div class = "form-group">
            <%= f.text_field :nombre, placeholder: "Nombre", class: "form-control" %>
        </div>
    </div>
    <div class="col-md-2">
        <div class = "form-group">
            <%= f.text_field :descripcion, placeholder: "Descripción", class: "form-control" %>
        </div>
    </div>
    <div class="col-md-2">
        <div class = "form-group">
            <%= f.text_field :precio, placeholder: "Precio", class: "form-control" %>
        </div>
    </div>
    <div class="col-md-2">
        <div class = "form-group">
            <%= f.text_field :uso, placeholder: "Uso", class: "form-control" %>
        </div>
    </div>
</div>
