<header>
	<div class="cd-logo">
		<%= link_to image_tag("logo.png", alt: "HPI logo"), root_path %>
	</div>
	<nav class="cd-main-nav-wrapper">
		<ul class="cd-main-nav">
			<% if logged_in? %>
				<li><%= link_to "Requisiciones", solicituds_path %></li>
				<li><%= link_to "Órdenes", compras_path %></li>
				<li><%= link_to "Empleados", empleados_path %></li>
				<li><%= link_to "Proyectos", proyectos_path %></li>
				<li><%= link_to "Proveedores", proveedors_path %></li>
				<li><%= link_to "Usuarios", usuarios_path %></li>
				<li><%= link_to "Salir", logout_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Requisición", new_solicitud_path %></li>
				<li><%= link_to "Administrar", login_path %></li>
			<% end %>
		</ul> <!-- .cd-main-nav -->
	</nav> <!-- .cd-main-nav-wrapper -->
	<a href="#0" class="cd-nav-trigger">Menu<span></span></a>
</header>